.container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.messageContainer {
    width: 100%;
}

.message {
    padding: 10px;
    border-radius: 6px;
    line-height: 1.8;
    max-width: 460px;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
}

.userMessage {
    background: #5E9EEA;
    color: #ffffff;
    text-align: left;
    margin-left: auto;
}

.botMessage {
    background: #ffffff;
    color: #292929;
    text-align: left;
    margin-right: auto;
}