

.container {
    margin: 20px 30px 40px 10px
}

.searchBar {
    height: 70px;
    border-radius: 8px;
    border: 2px solid black;
}


/* focus 인라인 효과 없애기  */
.searchBar > input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.searchBar > input {
    border: none;
}

