.checkboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox:checked + .toggleLabel .ball {
    left: 4%;
}

.checkbox:checked + .toggleLabel {
    background-color: #212426;
}

.checkbox:checked + .toggleLabel .night {
    opacity: 1;
    color: gold;
}

.night {
    opacity: 0;
}

.toggleLabel {
    border: 2px solid #9197b3;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    width: 80px;
    height: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease all;
}

.ball {
    position: absolute;
    left: 65%;
    width: 24px;
    background: #ffffff;
    height: 24px;
    border: 2px solid #9197b3;
    border-radius: 50px;
    transition: .5s ease all;
}