:root {
    --theme-background-night: #212426;
    --theme-background-light: #ffff;
    --theme-color: #000;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    background: var(--theme-background-light);
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

body.night {
    background: var(--theme-background-night);
}