@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --theme-background-night: #212426;
    --theme-background-light: #ffff;
    --theme-color: #000;
    --theme-color-night: #ffff;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--theme-background-light);
    color: var(--theme-color);
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    transition: .3s ease-in all;
}

body.night {
    background: var(--theme-background-night);
    color: var(--theme-color-night);
}

body.night select {
    background: var(--theme-background-night);
    color: var(--theme-color-night);
}

/* input 부분은 나중에 생각할 수 있도록 한다. */